	// ===== APPLICATION STYLES =====

html {
  -webkit-font-smoothing: antialiased;
  font-size: 62.5%;
}

body {
	width: 100%;
	height: 100%;
	position: relative;
	font-family: $mainFont;
	color: $baseColor;
}
.row {
	max-width: none !important;
}
a {
  transition: .1s ease-in-out;
  color: $linkColor;
  &:hover {
  	text-decoration: underline;
  	color: $linkColor;
  	cursor: pointer;
  }
  &:active, &:focus {
  	color: $linkColor;
  }
}
p {
	color: $baseColor;
}
.vertical-center {
	display: inline-block;
	position: relative;
	top: 50%; transform: translateY(-50%);
}


// ===== Homepage =====

#main.home {
	width: 100%;
	height: 90%;

	.vertical-center {
		width: 100%;
		height: auto;
		> div {
			width: 22rem;
			margin: 0 auto;
			img {
				display: block;
				margin: 0 auto 7.5rem;
			}
			> div {
				text-align: center;
				a {
					font-size: 1.9rem;
				}
			}
		}
			
	}
	.info-links {
		position: absolute;
		bottom: 12%;
		left: 50%;
		transform: translateX(-50%);
		ul {
			display: inline-block;
			margin: 0; padding: 0;
			li {
				display: block;
				text-align: center;
				font-size: 1.3rem;
				line-height: 3.8rem;
			}
		}
	}
}

// ===== / Nadia - Kayat =====

#main.bio {
	margin-left: 15rem;
	margin-right: 15rem;
	height: auto;
	overflow: auto;
	padding-top: 13rem;
	padding-bottom: 10rem;

	> div:first-child {
		img {
			width: auto;
			max-height: 13rem;
		}
		p {
			color: $greyish;
			font-size: 1.7rem;
		}
	}
}