	// ===== APPLICATION STYLES =====

html {
  -webkit-font-smoothing: antialiased;
  font-size: 62.5%;
}

body {
	width: 100%;
	height: 100%;
	position: relative;
	font-family: $mainFont;
	color: $baseColor;
}
.row {
	max-width: none !important;
}
@mixin stickyFooter {
		position: absolute;
  		bottom: 0;
  		width: 100%;
  		margin-left: 0;
  		margin-right: 0;
  		padding-left: 15rem;
  		padding-right: 15rem;
	}

a {
  transition: .1s ease-in-out;
  color: $linkColor;
  &:hover {
  	text-decoration: underline;
  	color: $linkColor;
  	cursor: pointer;
  }
  &:active, &:focus {
  	color: $linkColor;
  }
}
p {
	color: $baseColor;
}
.vertical-center {
	display: inline-block;
	position: relative;
	top: 50%; transform: translateY(-50%);
}
#main:not(.home) {
	position: relative;
	height: auto;
	overflow: auto;
	padding-top: 9rem;
	padding-bottom: 10rem;
	@media #{$large-only} { 
		margin-left: 15rem;
		margin-right: 15rem;
	}
	@media #{$medium-only} { 
		margin-left: 10rem;
		margin-right: 10rem;
	}
}

// ===== Homepage =====

#main.home {
	width: 100%;
	height: 90%;

	.vertical-center {
		width: 100%;
		height: auto;
		> div {
			width: 22rem;
			margin: 0 auto;
			img {
				display: block;
				margin: 0 auto 7.5rem;
			}
			> div {
				text-align: center;
				a {
					font-size: 1.9rem;
				}
			}
		}
			
	}
	.info-links {
		position: absolute;
		bottom: 12%;
		left: 50%;
		transform: translateX(-50%);
		ul {
			display: inline-block;
			margin: 0; padding: 0;
			li {
				display: block;
				text-align: center;
				font-size: 1.3rem;
				line-height: 3.8rem;
			}
		}
	}
}

// ===== / Nadia - Kayat =====

#main.bio {

	.scroll-wrap {
		height: 100%;
		@media #{$medium-up} {
			height: 25.5rem;
		}
		overflow: hidden;
		
		> div {
			padding: 0 3rem;

			@media #{$medium-up} {
				position: absolute;
				overflow-y: auto;
				top: 0;
				padding: 0;
			}
				

			> div:first-child {
				margin-bottom: 4rem;
				img {
					width: auto;
					max-height: 14rem;
					padding-top: 0.5rem;
					padding-left: 0;
					
				}
				p {
					// color: $greyish;
					font-size: 1.7rem;
					padding-left: 0;
					@media #{$small-only} {
						width: 60%;
					}
				}
			}
			> div:nth-child(3) {
				h2 {
					font-size: 1.7rem;
					margin-bottom: 1.5rem;
					// color: $greyish;
					font-weight: bold;
				} 
				p {
					font-size: 1.5rem;
					// color: $greyish;
				}
			}
		}
			 
	}
	.scrollTrigger {
		font-size: 1.6rem;
		line-height: 6.5rem;
		text-align: center;
		color: $greyish;
			
		width: 100%;
		display: block;
		overflow: hidden;
		cursor: pointer;
		&.up {
			position: absolute;
			width: 40px;
			top: 0;
			left: 50%;
			margin-left: -20px;	
		}
		&:hover {
			color: $baseColor;
		}
		@media #{$small-only} {
			display: none;	
		}		
	}
	figure {
		margin: 0;
		figcaption {
			font-size: 1.3rem;
			padding-top: 1.5rem;
			a {
				text-decoration: underline !important;
				i {
					padding-left: .5rem;
					vertical-align: middle;	
				}
			}
		}
	}
}

// ===== / Contact =====

#main.contact {
	min-height: 60%;
	ul {
		list-style-type: none;
		li {
			font-size: 1.7rem;
			line-height: 2.8rem;
		}
	}
}
@media #{$large-only} { 
	#main.contact + footer {
		@include stickyFooter;
	}
}

// ===== / Office =====

#main.office {
	> div {
		> div:first-child {
			ul {
				margin: 0;
				li {
					color: $greyish;
					font-size: 1.7rem;
					text-transform: uppercase;
					margin-bottom: 2.63rem;
					cursor: default;
				  	transition: 0.3s ease-in-out;
					&:hover {
						color: $baseColor;
					  	transition: 0.3s ease-in-out;
					}
				}
			}
		}
		> div:last-child {
			p {
				font-size: 1.53rem;
				margin-bottom: 2.5rem;
			}
		}
	}
}
@media #{$large-only} { 
	#main.office + footer {
		@include stickyFooter;
	}
}
